/*
type your custom css here
在本文件键入您的自定义CSS
升级主题文件时请注意保护本文件，防止意外覆盖。
*/
.site-title {
    margin: 0;
    font-size: 2em;
    font-family: "Yanone Kaffeesatz", "Microsoft YaHei Light", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 1;
}